html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}                       

body {
  margin-bottom: 60px;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

    .popup h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 24px;
        color: #007bff;
    }

    .popup ul {
        list-style-type: none;
        padding: 0;
    }

        .popup ul li {
            margin-bottom: 10px;
            font-size: 18px;
            color: #333;
        }

    .popup button {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        .popup button:hover {
            background-color: #0056b3;
        }
